@import '../scss/colors';

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center; // Vertically center items in the navbar
    background-color: $primary-color;
    height: 5em; 

    .nav-list-container {
        .nav-list {
            display: flex;
            align-items: center; // Vertically center items in the list
            list-style: none; // Remove default list styling
            li {
                padding: 0 1em;
                margin-right: 2em;
                
            }
            li a{
                color: white;
                text-decoration: none;
                background-color: $primary-color;
                transition: opacity 0.3s;
            }
            li a:hover {
                opacity: 0.8;
            }
            li:last-child{
                margin-right: 0;
            }
            li a img{
                height: 100%;
                width: auto;
            }
        }
    }
}
